{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'game/css/quest_info.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/quest_menu.css' %}">

</head>


<div id="quest-list" class="quest-list">
    <p class="quest-writing">Квесты</p>
    <p class="quest-top">Топ-квесты</p>
    <div class="top-quests-div">
        {% for user_quest in incomplete_quests %}
            {% if user_quest.quest.top %}
            <div class="quest-content" data-quest-id="{{ user_quest.id }}">
                {% if user_quest.quest.logo %}
                    <img src="{{ user_quest.quest.logo.url }}" alt="{{ user_quest.quest.title }}" class="quest-logo">
                    <p class="quest-disc">{{ user_quest.quest.title }}</p>
                {% else %}
                    <p class="quest-disc-no-image">{{ user_quest.quest.title }}</p>
                {% endif %}
                <p class="quest-price">+{{ user_quest.quest.cost }}</p>
                <img src="{% static 'game/img/quests/goto.svg' %}" class="goto-image">
            </div>
            {% endif %}

        {% endfor %}
    </div>

    <div class="common-quests-div">
        {% for user_quest in incomplete_quests %}
            {% if not user_quest.quest.top %}
            <div class="quest-content" data-quest-id="{{ user_quest.id }}">
                {% if user_quest.quest.logo %}
                    <img src="{{ user_quest.quest.logo.url }}" alt="{{ user_quest.quest.title }}" class="quest-logo">
                    <p class="quest-disc">{{ user_quest.quest.title }}</p>
                {% else %}
                    <p class="quest-disc-no-image">{{ user_quest.quest.title }}</p>
                {% endif %}
                <p class="quest-price">+{{ user_quest.quest.cost }}</p>
                <img src="{% static 'game/img/quests/goto.svg' %}" class="goto-image">
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="completed-quests-div hidden">
        {% for user_quest in completed_quests %}
            <div class="quest-content completed" data-quest-id="{{ user_quest.id }}">
                {% if user_quest.quest.logo %}
                    <img src="{{ user_quest.quest.logo.url }}" alt="{{ user_quest.quest.title }}" class="quest-logo">
                    <p class="quest-disc text-completed">{{ user_quest.quest.title }}</p>
                {% else %}
                    <p class="quest-disc-no-image text-completed">{{ user_quest.quest.title }}</p>
                {% endif %}
                <img src="{% static 'game/img/quests/goto.svg' %}" class="goto-image">
            </div>
        {% endfor %}
    </div>


    <div class="quest-menu">
        <p id="all-quests" class="all-quests active-border">Все квесты</p>
        <p id="completed-quests" class="completed-quests">Выполненные</p>
    </div>
</div>
<div id="quest-info" class="quest-info"
     data-csrf-token="{{ csrf_token }}"
     data-initial-balance="{{ initial_balance|default:0 }}"
     data-user-id="{{ user.id|default:'null' }}">
</div>
