.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

.day-of-defeat{
    height: 88%;
}
.calendar{
    column-gap: 4vw;
    display: flex;
    position: absolute;
    top: 34%;
    transform: translateX(-50%);
    left: 50%;
}

.completed-container{
    display: flex;
    flex-direction: column;
    gap: 0.9vh;
}
.completed-day{
    padding-top: 10.7%;
    display: flex;
    justify-content: center;
    background: #F3F4F5;
    mix-blend-mode: normal;
    border-radius: 3.5vw;
    width: 9vw;
    height: 8vw;
 }

.not-completed-day{
    background: #F3F4F5;
    mix-blend-mode: normal;
    border-radius: 3.5vw;
    width: 8.5vw;
    height: 8vw;
 }

.avatar-progress{
    left: 50%;
    transform: translateX(-50%);
    top: 9%;
    background: linear-gradient(45deg, #0AB0D7 0%, #5457A1 100%);
    border-radius: 50%;
    padding: 0.3vh;
    position: absolute;
    width: 12vh;
    max-width: 100px;
    aspect-ratio: 1 / 1;
}
.avatar-img-progress{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}
.decoration-container{
    background-color: #f5f5f5;
    border-radius: 27px;
    width: 20vh;
    height: 20vh;
    border: 1px solid #d3e2ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

.background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-games-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.8vw;
    justify-content: center;
    border-radius: 40px;
    padding: 1.5vh;
}



.balance{
    position: absolute;
    top: 24.6%;
    left: 28%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 3.5vw;
    line-height: 1.7vh;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    display: flex;
    gap: 2vw;
    align-items: center;
}
p.balance-title{
    margin: 0;
    padding: 0;
}
p.balance-amount{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 3.5vw;
    line-height: 1.7vh;
    text-align: center;
    letter-spacing: -0.01em;
    color:#FFFFFF;
}
.my-avatar{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 22%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 4.2vw;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.progress-menu{
    gap: 0px;
    position: absolute;
    left: 50%;
    top: 41.3%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.progress-button {
    white-space: pre-wrap;
    width: 31.5vw;
    height: 3.5vh;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 3.3vw;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.active-border {
    color:#70EEFF;
}

.progress-button:active {
    color: #70EEFF;
}

.task-item {
    background-color: #f5f5f5;
    border-radius: 27px;
    padding: 18px;
    width: 100%;
    height: 100%;
    border: 1px solid #d3e2ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}
.progress-item-noncompleted{
    background-color: #f5f5f5;
    border-radius: 27px;
    padding: 18px;
    width: 42vw;
    height: 42vw;
    border: 1px solid #d3e2ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: left;
}
.gradient-border{
    width: 42vw;
    height: 42vw;
    border-radius: 27px;
    padding: 0.4vw;
    background: linear-gradient(135deg, #0AB0D7, #5457A1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-border-none{
    width: 42vw;
    height: 42vw;
    border-radius: 27px;
    padding: 0.4vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.task-description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2vw;
    line-height: 12px;
    letter-spacing: -0.01em;
    color: #637E9A;
    opacity: 0.5;
}
.task-category {
    position:absolute;
    font-size: 12px;
    color: #b0b0b0; /* Цвет категории задачи (например, "Отдых") */
    margin-bottom: 10px;
}

.task-title-progress {
    font-size: 3.5vw;
    font-weight: bold;
    color: #00a7d0;
    width: 90%;
    word-wrap: break-word;
}

#near-games-section, #future-games-section{
    transition: opacity 0.9s ease, visibility 0.5s ease;
    position: absolute;
    top: 47%;
    max-height: 43vh;
    overflow: auto;

}

.progress-section{
    transition: opacity 0.9s ease, visibility 0.5s ease;
    position: absolute;
    top: 47%;
    height: 58vh;
    overflow: auto;
    z-index: 2;

}
#top-games-section{
    background: #DBDDE1;
    border-radius: 40px;
}

.category-container-progress {
    width: 30vw;
    height: 30vw;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    cursor: pointer;
    justify-content: center;
}

.categories-content-progress:hover {
    transform: translateY(-5px); /* Поднимает карточку при наведении */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

p.category-progress-title {
    margin-top: 1vh;
    margin-bottom: 0;
    width: 90%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 2vw;
    text-align: center;
    letter-spacing: -0.01em;
    color: #637E9A;
}

.category-button-progress {
    background: none;
    border: none;
    width: 20vw;
    height: 2vh;
    align-content: center;
    height: auto;
}

.task-logo-progress {
    width:25%;
    object-fit: cover;
    filter: invert(44%) sepia(99%) saturate(1200%) hue-rotate(148deg) brightness(92%) contrast(99%);
}

p.category-name-progress {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #0AB0D7;
}
.day-num{
    width: 10vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vw;
    line-height: 1vh;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.progress-bar-text{
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vh;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.percent-text{
    left: 78%;
    position: absolute;
    transform: translateX(-50%);
    top: 31%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 2vh;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.progress-bar-snus {
    margin-bottom: 0rem;
    height: 0.5vh;
    width: 75%;
    background-color: #9b9b9b;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
}

.progress-bar-calendar {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 32%;
    height: 0.5vh;
    width: 46%;
    background-color: #9b9b9b;
    border-radius: 5px;
    margin-bottom: 10px;
}

.progress-bar-fill, .progress-bar-fill-calendar {
    background: linear-gradient(45deg, #81CACF 0%, #0AB0D7 100%);
    height: 100%;
    border-radius: 5px;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

.category-stats {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #637E9A;
    margin: 0;
}

.games-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    justify-content: center;
}

.task-content-progress {
    position: relative;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 2vw;
    width: 42%;
    height: 16vh;
    border: 1px solid #d3e2ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.task-logo-mini-progress{
    margin-top: 3px;
    width: 20%;
    filter: invert(44%) sepia(99%) saturate(1200%) hue-rotate(148deg) brightness(92%) contrast(99%);
}
.task-top-img-progress{
    position: absolute;
    right: 6%;
    top: 7%;
    width: 9%;
}
.task-list-section{
    position: absolute;
    top: 42%;
    width: 100vw;
}


.decoration-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 27px;
    width: 42vw;
    height: 42vw;
    border: 1px solid #d3e2ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

.completed-icon{
    position: absolute;
    width: 15%;
    left: 77%;
    top: 79%;
}

.task-completed{
    position: absolute;
    top: 84%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3.4vw;
    line-height: 12px;
    letter-spacing: -0.01em;
    color: #0AB0D7;

}


.task-title-top{
    position: relative;
    top: 7%;
    left: 0%;
    font-size: 4vw;
    font-weight: bold;
    color: #00a7d0; /* Цвет названия задачи (например, "Отпуск") */
    margin: 0;
    word-wrap: break-word;
    }



.incomplete-progress-div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.8vw;
    justify-content: center;
    overflow: auto;
    max-height: 47vh;
}
@media (max-height: 670px) {
    .incomplete-progress-div {
        max-height: 44vh;
    }
}
.text-img-group{
    margin-left: 6vw;
    margin-bottom: 1vh;
    display: flex;
}

p.text-progress{
    width: 80%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.8vw;
    line-height: 9px;
    letter-spacing: -0.01em;
    color: #637E9A;
    margin: 0.3rem;
}

.category-preview-div-progress{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 5vw;
    margin-bottom: 4px;
}

.category-writing-progress{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #0AB0D7;
    margin: 0;

}
.back-arrow{

}

.back-img{
    filter: invert(44%) sepia(99%) saturate(1200%) hue-rotate(148deg) brightness(92%) contrast(99%);
    width: 5vw;
    margin-right: 1vw;
    margin-left: 2vw;
}



