{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'game/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'game/css/task_create.css' %}">


</head>
<img id="background-img3" src="{% static 'game/img/background_0.svg' %}" class="background-image" alt="Background">
<p class="task-create-title">Создать новую игру</p>

<div id="task-create-menu" class="task-create-menu">
    <div class="form-inputs">
        <p class="near-game-writing">Ближайшая игра</p>

        <form method="post" id="create-task-form">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.description }}<br>
            {{ form.cost }}<br>

            <!-- Скрытое поле для task_category -->
            <input type="hidden" name="task_category" value="{{ task_category }}">
        </form>

    </div>

    <!-- Кнопка размещена вне формы с уникальным ID -->
    <button type="button" id="create-task-button" class="create-task-submit">Создать</button>
</div>
