{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'game/css/tasks.css' %}">

</head>
<img id="background-img2" src="{% static 'game/img/background_0.svg' %}" class="background-image" alt="Background">
<p class="category-game-title">Игры</p>
<div id="categories-menu-div" class="categories-menu-div">
    <p class="categories">Категории</p>

    <div class="categories-div" id= "categories-div">
        {% for category in task_categories %}
            <div class="categories-content">
                <button  class="category-button" id="{{ category.category_name }}">
                    <img src="{{ category.logo.url }}" alt="{{ category.category_name }}" class="task-logo">
                </button>
                <p class="category-name"> {{ category.title }}</p>
            </div>
        {% endfor %}
    </div>
</div>

