{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'game/css/task_list.css' %}">

</head>
<p class="category-writing">{{ russian_title }}</p>
<div class="incomplete-tasks-div">
    {% for task in tasks %}
        <div class="task-content" data-quest-id="{{ user_quest.id }}">
            {% if task.top %}
                <img src="{% static 'game/img/tasks/favourites.svg' %}" class="task-top-img">
            {% else %}
                <img src="{% static 'game/img/tasks/favourites_ns.svg' %}" class="task-top-img">
            {% endif %}
            <img src="{{ category_logo.url }}" class="task-logo-mini">
            <p class="task-title">{{ task.title }}</p>
            <p class="task-price">+{{ task.cost }}</p>
            <img src="{% static 'game/img/quests/goto.svg' %}" class="goto-image">
        </div>
    {% endfor %}
</div>

<div class="complete-tasks-div hidden">
    {% for task in complete_tasks %}
        <div class="task-content completed" data-quest-id="{{ user_quest.id }}">
            {% if task.top %}
                <img src="{% static 'game/img/tasks/favourites.svg' %}" class="task-top-img">
            {% else %}
                <img src="{% static 'game/img/tasks/favourites_ns.svg' %}" class="task-top-img">
            {% endif %}
            <img src="{{ category_logo.url }}" class="task-logo-mini">
            <p class="task-title">{{ task.title }}</p>
            <p class="task-price">+{{ task.cost }}</p>
            <img src="{% static 'game/img/quests/goto.svg' %}" class="goto-image">
        </div>
    {% endfor %}
</div>


<div class="active-list-switch">
    <p id="all-tasks" class="all-tasks active-border">Все</p>
    <p id="completed-tasks" class="completed-tasks">Выполненные</p>
</div>


<div id="task-create-panel" class="task-create-panel {{ task_category }}" data-category="{{ task_category }}">
    <img src="{{ category_logo.url }}" class="task-mini-logo">

    <p class="task-create-text">Создать новую игру</p>
    <img src="{% static 'game/img/tasks/plus.svg' %}" class="plus-logo">
</div>



