.category-game-title {
    position: absolute;
    width: 182px;
    left: 50%;
    transform: translateX(-50%);
    top: 11.8%;
    bottom: 85.41%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 5vw;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.categories-menu-div{

    width: 100%; /* Устанавливаем ширину контейнера */
    height: 100%;
    box-sizing: border-box; /* Включаем внутренние отступы в расчёт ширины */

    position:absolute;
    top: 0%;
    left: 50%;
    transform : translateX(-50%);
}

.categories{
    position: absolute;
    left: 15%;
    top: 16.09%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 4vw;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
/* Контейнер для категорий */
.categories-div {
    display: flex; /* Flexbox для выравнивания элементов */
    flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку */
    justify-content: center; /* Центрирование элементов по горизонтали */
    row-gap: 1vh; /* Вертикальные промежутки между строками */
    column-gap: 5vw; /* Горизонтальные промежутки между элементами */
    width: 80vw;
    box-sizing: border-box; /* Включаем внутренние отступы в расчёт ширины */
    height: 65vh;
    overflow-y: auto; /* Вертикальная прокрутка */

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}


.categories-content {
    width: 32vw; /* Фиксированная ширина блока */
    height: 32vw; /* Фиксированная высота блока */
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    justify-content: center; /* Центрирование содержимого по вертикали */
    align-items: center; /* Центрирование содержимого по горизонтали */
}

.category-button {
    width: 100%;    /* Полностью заполняет ширину родительского контейнера */
    height: 100%;   /* Полностью заполняет высоту родительского контейнера */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    border: none;
    display: flex; /* Используем flex для центрирования логотипа внутри кнопки */
    justify-content: center; /* Центрируем логотип горизонтально */
    align-items: center;     /* Центрируем логотип вертикально */
    padding: 0; /* Убираем отступы */
    flex-shrink: 0; /* Запрещаем сжимать кнопку */

}

.task-logo {
    max-width: 100%; /* Логотип занимает всю ширину блока */
    height: auto; /* Высота автоматически подстраивается для сохранения пропорций */
    opacity: 0.4;
}

.category-name {
    margin-top: -25%; /* Отступ сверху для текста */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.01em;

    color: #FFFFFF;

}
.task-menu-div{
    position: absolute;
    width: 90vw;
    height: 70vh;
    top: 20%;
    left: 50%;
    transform: translateX(-50%)
}

.task-create-panel {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Ширина 100% от родительского контейнера */
    height: 50px;
    background: rgba(227, 230, 237, 0.5); /* Прозрачный фон через rgba */
    border: 0.7px solid rgba(255, 255, 255, 0.25); /* Полупрозрачная граница */
    background-size: cover;
    border-radius: 18px;
    display: flex;
    align-items: center;     /* Центрирование по вертикали */
    padding: 10px;
    gap: 10px;
}



.task-create-text {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #FFFFFF;

}

.plus-logo {
    margin-left: auto; /* Отталкивает элемент от остальных к правому краю */
    padding-right: 0; /* Если padding-right больше не нужен, можно обнулить */
}

.hidden {
    display: none;
}

.task-mini-logo {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.incomplete-tasks-div, .complete-tasks-div{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    height: 30vh; /* Фиксированная высота 20% от высоты видимой области страницы */
    width: 90vw; /* Ширина 90% от ширины видимой области окна */
    overflow-y: auto; /* Включаем прокрутку */
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    gap: 2vh; /* Отступы между элементами */
}


.completed-tasks-div {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
    height: 30vh; /* Фиксированная высота 20% от высоты видимой области страницы */
    width: 90vw; /* Ширина 90% от ширины видимой области окна */
    overflow-y: auto; /* Включаем прокрутку */
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    gap: 2vh; /* Отступы между элементами */
}

.all-tasks, .completed-tasks {
    font-size: 3.5vw; /* Адаптивный размер шрифта */
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: bold;
    cursor: pointer; /* Указатель, показывающий, что это кликабельные элементы */
    padding: 0.5vw 1vw; /* Добавляем внутренний отступ для расширения рамки */
    width: auto; /* Убираем фиксированную ширину */
    display: inline-block; /* Окружает элемент только содержимым */
    box-sizing: border-box; /* Включаем рамку и паддинг в расчет ширины */

    /* Добавляем базовую рамку с прозрачным цветом */
    border: 1.5px solid transparent;

    /* Добавляем плавный переход для свойства border-color */
    transition: border-color 0.3s ease, border-radius 0.3s ease;
}

.active-list-switch{
    position: absolute;
    top: 3%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row; /* Горизонтальное направление */
    justify-content: center; /* Центрирование элементов по горизонтали */
    align-items: center; /* Центрирование элементов по вертикали */
    gap: 2vw;
}

.active-border {
    border-color: white; /* Изменение цвета рамки на белый */
    border-radius: 30px;
}

.task-content {
    position: relative; /* Добавьте эту строку */
    display: flex;
    min-height: 6vh; /* Минимальная высота каждого quest-content */
    flex-direction: row;
    align-items: center;
    width: 100%; /* Ширина 100% от родительского контейнера */
    background: #ffffff;
    background-size: cover;
    border-radius: 22px;
}

.goto-image {
    position: absolute;
    width: auto;
    min-width: 7px;
    max-width: 14px;
    height: 2vh;
    min-height: 7px;
    max-height: 25px;
    right: 2vw;
    transform: translateY(-50%);
    top: 50%;
}

.task-title {
    margin: 0; /* Убираем отступы у текста */
    font-size: 3.5vw; /* Адаптивный размер шрифта */
    font-family: 'Montserrat', sans-serif;
    color: #41576B;
    max-width: 70%; /* Ограничение максимальной ширины текста */
    font-weight: 600;

    word-wrap: break-word; /* Перенос длинных слов на новую строку */
}

.completed {
    background: linear-gradient(45deg, #2875BB, #0F80AB);
    background-size: cover;

}

.text-completed {
    color: white;
}

.task-price {
    position: absolute;
    margin: 0; /* Убираем отступы у текста */
    right: 12%;  /* Прижимаем к правому краю родительского блока */
    font-weight: 700;
    color: #0AB0D7;
}

.hidden {
    display: none;
}

.task-logo-mini{
    max-width: 6vw; /* Логотип занимает всю ширину блока */
    height: auto; /* Высота автоматически подстраивается для сохранения пропорций */
    margin-right: 10px; /* Отступ справа от изображения */
    margin-left: 10px; /* Отступ слева для сдвига изображения вправо */
}

.task-top-img{
    position: absolute;
    right: 6%;
}

.category-writing{
    position: absolute;
    top: -6%;
    left: 15%;
    z-index: 2;
    /* Семья */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
    /* or 112% */
    letter-spacing: -0.01em;

color: #FFFFFF;


}