.task-create-menu {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

/* Создать новую игру */
.task-create-title{
    position: absolute;
    width: 35vw;
    left: 15%;
    top: 9%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    line-height: 22px;
    letter-spacing: -0.01em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.game-writing{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #0AB0D7;
    margin-top: 15px;
    z-index: 100; /* Убедитесь, что кнопка отображается поверх других элементов */

}

.form-div-near{
    width: 95%;
    height: 30vh;
    position: absolute;
    top: 16%;
    right: 0;
}
.form-div-far{
    width: 95%;
    height: 30vh;
    position: absolute;
    top: 55%;
    right: 0;
}
.form-inputs-near,
.form-inputs-far {
    background: #FFFFFF;
    height: 30vh; /* Фиксированная высота */
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    right: 0;
    padding-left: 15px;
    max-width: 95%;
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    width: 100%;
}



/* Убедитесь, что поля ввода не имеют собственной прокрутки */
.task-title-input,
.task-desc-input,
.task-cost-input {
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 8px;
    width: 90%;
    max-height: none; /* Убираем ограничение по высоте */
    overflow: visible; /* Позволяем полю расширяться */
    resize: none; /* Предотвращаем изменение размера пользователем, если это textarea */
}


.task-title-input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 4vw;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #4E6A83;

}

/* Введите текст описания */
.task-desc-input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #41576B;
}

.create-task-submit {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: linear-gradient(90deg, #81CACF 0%, #0AB0D7 100%);
    mix-blend-mode: normal;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    width: 30vw;
    height: 4vh;
}

.task-img-input{
    display: none;
}

.upload-image-button{
    position: absolute;
    top: 85%;
    left: 8%;
}

.goback-button {
    position: absolute;
    left: 8%;
    top: 11%;
}

.avatar-wrapper {
    position: absolute;
    top: 9%;
    left: 80%;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    padding: 1px; /* Толщина границы */
    background: linear-gradient(135deg, #0AB0D7, #5457A1); /* Градиент */
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.weekly-progress-writing{
    position: absolute;
    top: 11%;
    width: 93px;
    left: 55%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.favourites{
    position: absolute;
    top: 7%;
    left: 90%;
    z-index: 2;
}
.image-preview-container {
    position: sticky;
    left: 15%;
    top: 60%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.thumbnail {
    width: 32vw;
    height: 15vh;
    object-fit: cover;
    margin-right: 5px;
    cursor: pointer;
}

