.category-game-title {
    position: absolute;
    width: 182px;
    left: calc(50% - 182px/2);
    top: 11.8%;
    bottom: 85.41%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.categories-menu-div{
    width: 100%;
    box-sizing: border-box;
    position:absolute;
    top: 18%;
    left: 50%;
    transform : translateX(-50%);
}

.categories{
    position: relative;
    left: 20%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    transform: translateY(-50%);

}

.categories-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1vh;
    column-gap: 3vw;
    width: 80vw;
    box-sizing: border-box;
    height: 65vh;
    overflow-y: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
}


.categories-content {
    width: 35vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-button {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-shrink: 0;

}

.task-logo {
    max-width: 100%;
    height: auto;
    opacity: 0.4;
}

.category-name {
    margin-top: -25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.01em;

    color: #FFFFFF;

}
.task-menu-div{
    position: absolute;
    width: 90vw;
    height: 70vh;
    top: 20%;
    left: 50%;
    transform: translateX(-50%)
}

.task-create-panel {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 50px;
    background: rgba(227, 230, 237, 0.5);
    border: 0.7px solid rgba(255, 255, 255, 0.25);
    background-size: cover;
    border-radius: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}



.task-create-text {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #FFFFFF;

}

.plus-logo {
    margin-left: auto;
    padding-right: 0;
}

.hidden {
    display: none;
}

.task-mini-logo {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.incomplete-tasks-div, .complete-tasks-div{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    height: 75%;
    width: 90vw;
    overflow-y: auto;
}


.completed-tasks-div {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
    height: 30vh;
    width: 90vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.all-tasks, .completed-tasks {
    font-size: 3.5vw;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5vw 1vw;
    width: auto;
    display: inline-block;
    box-sizing: border-box;
    border: 1.5px solid transparent;
    transition: border-color 0.3s ease, border-radius 0.3s ease;
}

.active-list-switch{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: max-content;
}

.active-border {
    border-color: white;
    border-radius: 30px;
}

.task-content {
    position: relative;
    display: flex;
    min-height: 6vh;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: #ffffff;
    background-size: cover;
    border-radius: 22px;
    margin-bottom: 2vh;
    line-height: 14px;
    letter-spacing: -0.01em;
}

.goto-image {
    position: absolute;
    width: auto;
    min-width: 7px;
    max-width: 14px;
    height: 2vh;
    min-height: 7px;
    max-height: 25px;
    right: 2vw;
    transform: translateY(-50%);
    top: 50%;
}

.task-title {
    margin: 0;
    font-size: 3.5vw;
    font-family: 'Montserrat', sans-serif;
    color: #41576B;
    max-width: 70%;
    font-weight: 600;
    word-wrap: break-word;
}

.completed {
    background: linear-gradient(45deg, #2875BB, #0F80AB);
    background-size: cover;

}

.text-completed {
    color: white;
}

.task-price {
    margin: 0;
    font-size: 3.5vw;
    font-family: 'Montserrat', sans-serif;
    color: #0AB0D7;
    max-width: 70%;
    font-weight: 700;
    word-wrap: break-word;
    right: 13%;
    position: absolute;
}

.hidden {
    display: none;
}

.task-logo-mini{
    max-width: 6vw;
    height: auto;
    margin-right: 15px;
    margin-left: 10px;
}

.incomplete{
    filter: invert(45%) sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(75%) contrast(100%);

}

.complete-text{
    color: #FFFFFF;

}

.complete-marker-div{
    position: relative;
}

.complete-marker{
    position: absolute;
    top: 50%;
    left: 58.5%;
}

.task-top-img{
    position: absolute;
    right: 6%;
}

.category-writing{
    position: absolute;
    top: -6%;
    left: 15%;
    z-index: 2;
    transform: translateY(-50%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.filter-img{
    position: absolute;
    top: -6%;
    left: 7%;
    z-index: 2;
    transform: translateY(-50%);
}