.category-game-title {
    position: absolute;
    width: 182px;
    left: calc(50% - 182px/2);
    top: 11.8%;
    bottom: 85.41%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.categories-menu-div{

    width: 100%; /* Устанавливаем ширину контейнера */
    height: 100%;
    box-sizing: border-box; /* Включаем внутренние отступы в расчёт ширины */

    position:absolute;
    top: 0%;
    left: 50%;
    transform : translateX(-50%);
}

.categories{
    position: absolute;
    left: calc(50% - 182px/2 - 62px);
    top: 16.09%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
/* Контейнер для категорий */
.categories-div {
    display: flex; /* Flexbox для выравнивания элементов */
    flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку */
    justify-content: center; /* Центрирование элементов по горизонтали */
    row-gap: 1vh; /* Вертикальные промежутки между строками */
    column-gap: 5vw; /* Горизонтальные промежутки между элементами */
    width: 80vw;
    box-sizing: border-box; /* Включаем внутренние отступы в расчёт ширины */
    height: 65vh;
    overflow-y: auto; /* Вертикальная прокрутка */

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}


.categories-content {
    width: 15vh; /* Фиксированная ширина блока */
    height: 15vh; /* Фиксированная высота блока */
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    justify-content: center; /* Центрирование содержимого по вертикали */
    align-items: center; /* Центрирование содержимого по горизонтали */
}

.category-button {
    width: 100%;    /* Полностью заполняет ширину родительского контейнера */
    height: 100%;   /* Полностью заполняет высоту родительского контейнера */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    border: none;
    display: flex; /* Используем flex для центрирования логотипа внутри кнопки */
    justify-content: center; /* Центрируем логотип горизонтально */
    align-items: center;     /* Центрируем логотип вертикально */
    padding: 0; /* Убираем отступы */
    flex-shrink: 0; /* Запрещаем сжимать кнопку */

}

.task-logo {
    max-width: 100%; /* Логотип занимает всю ширину блока */
    height: auto; /* Высота автоматически подстраивается для сохранения пропорций */
    opacity: 0.4;
}

.category-name {
    margin-top: -25%; /* Отступ сверху для текста */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.01em;

    color: #FFFFFF;

}
.task-menu-div{
    position: absolute;
    width: 90vw; /* Ширина 90% от ширины видимой области окна */
    height: 70vh;
    top: 20%;
    left: 50%;
    transform: translateX(-50%)
}

.task-create-panel {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Ширина 100% от родительского контейнера */
    height: 50px;
    background: rgba(227, 230, 237, 0.5); /* Прозрачный фон через rgba */
    border: 0.7px solid rgba(255, 255, 255, 0.25); /* Полупрозрачная граница */
    background-size: cover;
    border-radius: 18px;
    display: flex;
    align-items: center;     /* Центрирование по вертикали */
    padding: 10px;
    gap: 10px;
}



.task-create-text {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #FFFFFF;

}

.plus-logo {
    margin-left: auto; /* Отталкивает элемент от остальных к правому краю */
    padding-right: 0; /* Если padding-right больше не нужен, можно обнулить */
}

.hidden {
    display: none;
}

.task-mini-logo {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}