{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'game/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'game/css/task_create.css' %}">


</head>
<img id="background-img3" src="{% static 'game/img/background_0.svg' %}" class="background-image" alt="Background">
<p class="task-create-title">Создать новую игру</p>

<div id="task-create-menu" class="task-create-menu">
    <form method="post" id="create-task-form">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.description }}<br>
            {{ form.cost }}<br>

        <span>{{ error }}</span>
        <button type="submit" class="create-task-submit">Создать</button>
    </form>
</div>